* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wps-container,
.origin-wps {
  max-width: unset !important;
  width: 100% !important;
  /* 减去top bar的高度 */
  height: calc(100vh - 60px) !important;
  margin: 0 !important;
}

.wps-container > iframe,
.origin-wps > iframe {
  width: 100% !important;
}